.groups-page {
    background-color: var(--color-surface);
    padding: 20px;
    border-radius: 12px;
    max-width: 700px;
    margin: 20px auto;
    color: var(--color-text);
}

.groups-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-accent-light);
}

.new-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.new-group input {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    color: var(--color-text);
}

.new-group button {
    background-color: var(--color-accent);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 12px;
    cursor: pointer;
    width: 20%;
}

.new-group button:hover {
    background-color: var(--color-accent-light);
}

.groups-list {
    list-style: none;
    padding: 0;
}

.groups-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
}

.groups-list li button {
    width: 9rem;
    background-color: var(--color-accent);
    padding: 7px 8px;
    margin: 5px;
    font-size: 0.9rem;
}

.groups-list li button:hover {
    background-color: var(--color-accent-light);
}


.groups-list li button {
    width: 9rem;
    background-color: var(--color-accent);
    padding: 7px 8px;
    margin: 5px;
    font-size: 0.9rem;
}

.modal li button {
    width: 12rem;
    background-color: var(--color-accent);
    padding: 7px 8px;
    margin: 5px;
    font-size: 0.9rem;
}